<div class="container">
    <h2 class="display-1 text-center fw-bold ">About</h2>
    <div class="text-center">
        <img src="../../assets/image/454457871_923106776480637_1975620759110243024_n.jpg" class="w-25" alt="image" />
    </div>
    <div class="mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam impedit omnis minima quis illo? Aspernatur quod
        quae corrupti necessitatibus nulla, neque iure cumque voluptate, aliquid repellendus ratione est eum quos sit.
        Neque nam soluta facilis laborum esse reprehenderit totam eaque a sapiente vero velit, at ex doloribus quod eum,
        nobis ratione magni repellat officia eveniet non beatae mollitia amet est! Doloribus maiores aperiam fugiat,
        illum vel laborum placeat eveniet, voluptatibus nam commodi praesentium atque? Quibusdam, nam, atque quod quis
        recusandae delectus sunt nulla praesentium quaerat consequatur perferendis voluptatem reprehenderit fuga laborum
        velit nemo numquam doloremque natus error assumenda illo omnis, ducimus quidem id! Eaque, quae consectetur
        eveniet aliquam soluta laborum fuga beatae dicta repellendus cum! Sed modi vitae debitis, consequatur ad soluta
        quos itaque distinctio, suscipit molestiae aperiam fugit maxime inventore magni ducimus tenetur in. Corporis
        nulla magnam illo voluptatibus error? Beatae facilis incidunt, rerum mollitia laudantium, ullam commodi nobis
        repudiandae nam voluptate voluptatibus vero dignissimos, architecto qui non labore nihil nisi fuga. Sed maxime
        laudantium similique aut quae dignissimos perspiciatis voluptate ducimus, ex veniam dolorem ipsam officiis
        voluptas veritatis sit adipisci praesentium labore. Veritatis ipsam accusantium necessitatibus repudiandae atque
        dolorem veniam soluta adipisci esse enim, consequuntur hic dolores consectetur deserunt cumque qui reiciendis
        earum perspiciatis repellendus. Sapiente fugit quis fuga maxime omnis magni maiores dolor iste, illo repudiandae
        doloremque alias architecto ex assumenda doloribus, atque eius accusamus ratione tenetur dolorum similique
        veritatis quibusdam? Id tenetur quia quisquam? Veritatis, eos cum magni non aut, consequatur similique aliquam
        cumque illo, quibusdam reprehenderit itaque doloribus? Praesentium consequatur ipsum ad tempore. Eligendi quod
        in consequatur. Harum ex eaque animi minus, saepe consequuntur quis alias dolore officia necessitatibus quos
        perferendis nobis doloribus, itaque aut id voluptate ullam maxime impedit, iste aliquid accusantium molestias.
        Quibusdam quis modi dicta explicabo, culpa praesentium adipisci temporibus delectus quasi?
    </div>
</div>