<div class="container">
    <h1 class="text-center"> CONTACT</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus provident esse excepturi reiciendis, adipisci
    dolore quibusdam earum sint eius, labore, quae obcaecati. Provident a facere inventore hic consectetur magni iure
    voluptas architecto nesciunt blanditiis deleniti enim ad deserunt iste, id incidunt quaerat numquam eligendi, quae
    assumenda! Non facere magni ducimus. Et eaque dolorem repellat porro obcaecati officia libero possimus error nisi
    atque adipisci quas, dicta doloribus maxime iste quidem doloremque non inventore cum aut quo? Quam, esse. Similique
    veritatis aut voluptatum ullam ipsam dolorem! Sunt minus dignissimos dolorem ipsum pariatur facere qui! Sit
    blanditiis facilis, ipsum obcaecati maxime doloremque hic.
</div>