<div class="container">
    <main class="form-signin m-auto w-50 ">

        <body class="align-items-center d-flex py-4 bg-body-tertiary ">
            <main class="form-signin w-100 m-auto">
                <form>
                    <h1 class="h3 fs-2 mb-3 fw-bold text-center ">ลงทะเบียน</h1>

                    <div class="form-floating ">
                        <input type="fullname" class="form-control" id="floattinginput" placeholder="Fullname" />
                        <label class="text-body-secondary" for="floattingi  nut">Fullname</label>
                    </div>
                    <div class="form-floating ">
                        <input type="Lastname" class="form-control" id="floattinginput" placeholder="Lastname" />
                        <label class="text-body-secondary" for="floattinginut">Lastname</label>
                    </div>
                    <div class="form-floating ">
                        <input type="Email" class="form-control" id="floattinginput" placeholder="Email" />
                        <label class="text-body-secondary" for="floattinginut">Email</label>
                    </div>
                    <div class="form-floating ">
                        <input type="Password" class="form-control" id="floattinginput" placeholder="Password" />
                        <label class="text-body-secondary" for="floattinginut">Password</label>
                    </div>
                    <div class="form-floating ">
                        <input type="tel" class="form-control" id="floattinginput" placeholder="number" />
                        <label class="text-body-secondary" for="floattinginut">Number</label>
                    </div>
                    <div class="mt-3 " >
                    <button class="btn btn-primary py2 w-100" type="submit">
                        Register
                    </button>
                </div>
                </form>
            </main>
        </body>
    </main>
</div>